# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/

# Pytest
.pytest_cache/
.cache/

# mypy
.mypy_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# HDF5 / data artifacts
*.h5

# Coverage
.coverage
coverage.xml

# Logs
*.log

# images
*.png
*.jpg
*.jpeg

# Temporary files
*.tmp
*.bak
